*,*::after,*::before{
    box-sizing: border-box;
}
body{
    font-family: "REM", sans-serif;
    font-weight: 400;
}
html,body, .wrapper{
    min-height: 100vh;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    list-style: none;
}
body, ul{
    margin: 0;
}
ul{
    padding: 0;
}
button{
    cursor: pointer;
}

.board{
    display: grid;
    align-items: center;
    grid-template-areas: 
    "board board ver"
    "board board ver"
    "horiz horiz .";
}

.board__coordline{
    display: grid;
}
.board__coordline.horizontal{
    grid-template-columns: repeat(8, 64px);
    justify-content: center;
    grid-area: horiz;

    text-align: center;
}
.board__coordline.vertical{
    grid-template-rows: repeat(8, 64px);
    align-items: center;
    grid-area: ver;
}

.coordline-board__item{
    font-size: 18px;
}

.board__game{
    border: 5px solid #6A4026;

    display: grid;
    grid-area: board;
    grid-template-columns: repeat(8, 64px);
    grid-template-rows: repeat(8, 64px);
}

.game-board__link button{
    position: relative;
    
    border: 0;
    padding: 0;

    height: 100%;
    width: 100%;

    transition: border-color 0.3s linear;
}
.game-board__link.black button{
    border: 5px solid #6A4026;
    background-color: #6A4026;
}
.game-board__link.white button{
    border: 5px solid #F6DBB4;
    background-color: #F6DBB4;
}
.game-board__link:not(._has-figure)._available button::after{
    content: "";
    background-color: #000;
    border-radius: 50%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 12px;
    height: 12px;
}
.game-board._white-turn .game-board__link:not(._has-figure)._available button::after{
    background-color: #fff;
}

.game-board__link._active._figure-black button,
.game-board__link._has-figure._available button{
    border: 5px solid #000;
}
.game-board__link._active._figure-white button,
.game-board._white-turn .game-board__link._has-figure._available button{
    border: 5px solid #fff;
}

.game-board__link img{
    width: 90%;
    height: 90%;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}